<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/pdp.png"/>
    <meta name="description" content="Let us celebrate and sending our warm wishes on this
    Independence Day. Let us salute those great lives who made Nigeria proud.
    Please use these frame and share it to all Nigerians. Let Keep TOGETHER">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:image' content="/public/img/d2.png">
    <meta property='og:title' content="Nigeria | Independence Day">
    <meta property='og:description' content="Let us celebrate and sending our warm wishes on this
    Independence Day. Let us salute those great lives who made Nigeria proud.
    Please use these frame and share it to all Nigerians. Let Keep TOGETHER">
    <title>DAUDA | For Governor</title>
    <style>
        @font-face {
	src: url('public/5896/fonts/Midnight Bangkok.ttf');
	font-family: 'stylish'
}

@font-face {
	src: url('public/5896/fonts/Minnie.TTF');
	font-family: 'nameFont'
}
@font-face {
	src: url('public/fonts/AbrilFatface-Regular.ttf');
	font-family: 'AbrilFatface'
}
@font-face {
	src: url('public/fonts/Aclonica-Regular.ttf');
	font-family: 'Aclonica'
}
@font-face {
	src: url('public/fonts/Bangers-Regular.ttf');
	font-family: 'Bangers'
}
@font-face {
	src: url('public/fonts/AmaticSC-Bold.ttf');
	font-family: 'AmaticSC'
}
@font-face {
	src: url('public/fonts/BebasNeue-Regular.ttf');
	font-family: 'BebasNeue'
}
@font-face {
	src: url('public/fonts/Brawler-Regular.ttf');
	font-family: 'Brawler'
}
@font-face {
	src: url('public/fonts/BreeSerif-Regular.ttf');
	font-family: 'BreeSerif'
}
@font-face {
	src: url('public/fonts/Cinzel-Black.ttf');
	font-family: 'Cinzel'
}
@font-face {
	src: url('public/fonts/Cookie-Regular.ttf');
	font-family: 'Cookie'
}
@font-face {
	src: url('public/fonts/Courgette-Regular.ttf');
	font-family: 'Courgette'
}
@font-face {
	src: url('public/fonts/DancingScript-Bold.ttf');
	font-family: 'DancingScript'
}
@font-face {
	src: url('public/fonts/DaysOne-Regular.ttf');
	font-family: 'DaysOne'
}
@font-face {
	src: url('public/fonts/FanwoodText-Regular.ttf');
	font-family: 'FanwoodText'
}
@font-face {
	src: url('public/fonts/Federo-Regular.ttf');
	font-family: 'Federo'
}
@font-face {
	src: url('public/fonts/FredokaOne-Regular.ttf');
	font-family: 'FredokaOne'
}
@font-face {
	src: url('public/fonts/GreatVibes-Regular.ttf');
	font-family: 'GreatVibes'
}
@font-face {
	src: url('public/fonts/KaushanScript-Regular.ttf');
	font-family: 'KaushanScript'
}
@font-face {
	src: url('public/fonts/OldStandardTT-Bold.ttf');
	font-family: 'OldStandardTT'
}
@font-face {
	src: url('public/fonts/OldStandardTT-Italic.ttf');
	font-family: 'OldStandardTT-Italic'
}
@font-face {
	src: url('public/fonts/Pacifico-Regular.ttf');
	font-family: 'Pacifico'
}
@font-face {
	src: url('public/fonts/Parisienne-Regular.ttf');
	font-family: 'Parisienne'
}
@font-face {
	src: url('public/fonts/PoiretOne-Regular.ttf');
	font-family: 'PoiretOne'
}
@font-face {
	src: url('public/fonts/Righteous-Regular.ttf');
	font-family: 'Righteous'
}
@font-face {
	src: url('public/fonts/Sacramento-Regular.ttf');
	font-family: 'Sacramento'
}
@font-face {
	src: url('public/fonts/Satisfy-Regular.ttf');
	font-family: 'Satisfy'
}
@font-face {
	src: url('public/fonts/ShadowsIntoLight-Regular.ttf');
	font-family: 'ShadowsIntoLight'
}
@font-face {
	src: url('public/fonts/Ultra-Regular.ttf');
	font-family: 'Ultra'
}
@font-face {
	src: url('public/fonts/ZillaSlab-Bold.ttf');
	font-family: 'ZillaSlab'
}

        .happy .second{
            background-image: url(public/img/banner.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        .banner .first{
            background-image: url(public/img/police.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .banner .second{
            background-image: url(public/img/happy1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <link rel="stylesheet" href="public/css/all.css">
</head>
<body>
    <div class="bar">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 20px;"> FACE OF HOPE<span style="color: red;">'23</span><img class="pdp" style="padding-left: 0px; margin-top: -0px;" src="./public/img/pdp.png" alt=""></h1>
    </div>
    <header>
        <div class="container">
            <div class="headerLeft">
                <h1 style="display: inline;  color: rgb(155, 155, 155); margin-bottom: 4rem;">Zamfara</h1> <h1 class="sixty"><b style="display: inline;  padding: 4rem; margin: 2rem; ">will decide</b>
                <h3 style= "color: #005835; background-color: rgb(255, 255, 255); border-radius: 2rem; ">On  11th March, 2023...</h3>
            </div>
            <div class="headerRight">
                <img class='d' draggable="false" style="" src="./public/img/d2.png" alt="">
            </div>
        </div>
        <svg draggable="false" class="headerCurve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#fff" fill-opacity="1" d="M0,224L48,213.3C96,203,192,181,288,165.3C384,149,480,139,576,154.7C672,171,768,213,864,229.3C960,245,1056,235,1152,213.3C1248,192,1344,160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </header>
    <div class="happy">
        <div class="first">
            <h4>Scroll Down To</h4>
            <h3 class='title' style="padding: 10px;">   BE PART OF THE MOVES FOR
                A BETTER ZAMFARA!</h3>
            <p>
                "I present myself as a capable, competant, and tested hand to make Zamfara better.<br>
                    I have the ability, courage, energy and vision.<br>
                   I believe it can be done; and I indeed call upon you, Let's get it done"
                <br> - Dr. Dauda Lawal Dare.</p>
                    <img class="banner2" draggable="false" src="./public/img/banner2.png" alt="">
            </p>
        </div>
    </div>
    <div class="viewport">
        <div class="template">
            <h2>Select A Flyer</h2>
            <p>Click any of these frame design to apply to your image</p>
            <span id="thumbnailContainer">
                
            </span>
        </div>
        <h2 style="font-size: 1.2rem; margin-top: 10px;">Customize it below</h2>
        <p style="font-size: .8rem;">Choose your photo, add your name and your comment.</p>
        <div id="canvasMain">
            <div id="canvasDiv">
            <div class="loaderSpace">
                </div>
            <canvas id="c" width="1000" height="1000"></canvas>
            <small>Slide it to change image size.</small>
            <input class="scale" type="range" min="0.5" value="100" max="500" name="" id="">
            </div>
            <div class="detail">
                <label> Choose Your Photo
                    <input accept="image/x-png,image/gif,image/jpeg,image/jpg" id="filer" hidden type="file">
                </label> <img class="userPreview" src="public/img/yusuf.jpeg" alt="">
                <br>
                <input placeholder="your name here" type="text" name="name" id="name"> <br>
                <textarea placeholder="your comment here, max-length 130 characters." maxlength="130" name="comment" id="comment" cols="30" rows="3"></textarea><br>
                <button id="saveMe">Download Your Flyer Here</button><br>
                <small style="font-size: .6rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Please follow us on twitter <a href="https://twitter.com/gamjinkowa"><b>TWITTER</b></a></small>
            </div>
        </div>
    </div>
    

    <div class="banner">
        <div class="fourt">
            <a style="color: rgb(78, 78, 78);" target="blank" href="https://en.wikipedia.org/wiki/Dauda_Lawal"><span class="nnamdi">
                <img src="public/img/d3.jpg" alt="">
                <h3>About Dr. Dauda Lawal Dare</h3>
            </span></a>
        </div>

        <div class="nine">
            <h2>REGISTER HERE</h2>
            <b style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 0.6rem; position: relative; top: -8px;">To make Zamfara Better</b>
            <input type="text" name="name" id="name1" required placeholder="Name here"><br>
            <input type="text" name="city" id="city" required placeholder="Polling Unit"><br>
            <input type="tel" name="phone" id="phone" placeholder="Your PVC Number"><br>
            <input type="tel" name="phone" id="phone" placeholder="Phone here but optional"><br>
            <input type="email" name="email" id="email" required placeholder="Email here"><br>

            <input id="submit" type="submit" value="Submit"><br>
            <div class="info"></div>
    

        </div>
      
        <div class="eight">
            <small>Copyright&copy; 2022 | <a href="https://yumtech.vercel.app/">Yumtech</a> | All Right Reserved. <a href="https://yumtech.vercel.app/">Click here for your design</a></small>
        </div>
    </div>
    <audio class="anthemAudio" src="public/img/audio.mp3"></audio>
    <audio class="firework" src="public/img/audio.mp3"></audio>
    <div class="playAudio">
        <h2>Play Dauda song</h2>
        <span>
            <i id="play" class="fas fa-play-circle"></i>
        </span>
        <small>Touch me to hide</small>
    </div>
    <div class="particle">       
    </div>
    <script src="./public/dist/build.js"></script>
</body>
</html>